@model InfinetworksOnlineTest.Models.AnswerModel
@{
    ViewData["Title"] = "Congratulation";
}

<div class="container">
    <div class="row justify-content-center">&nbsp;</div>
    <div class="row justify-content-center">
        <div class="col  col-lg-10 col-md-12 col-sm-12">
            <h1 class="h1 text-center">Thank You For Participating.</h1>
            <br />
            <h4 class="h4 text-center">Hopefully you answer the questions correctly and you can join our company.</h4>
        </div>
    </div>
    <div class="row justify-content-center">&nbsp;</div>
    <div class="row justify-content-center">
        <div class="col  col-lg-10 col-md-12 col-sm-12">
            <h1 class="h1 text-center"></h1>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
        $(document).ready(function () {
            
        });
</script>
}